{% extends 'base.html' %}

{% block content %}

    <div class="container" style="max-width: 95%; margin-bottom: 20px;">
        <nav class="navbar navbar-expand-lg" style="background-color: #d6f3fb; border-radius: 20px;">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #000000;"><strong>Marmut</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if status == "Artist" or status == "Songwriter" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'album_song_royalti:dashboard' %}" style="color: #000000;">Lihat Album</a>
                        </li>
                        {% endif %}
                        {% if status == "Podcaster" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'album_song_royalti:podcast_render' %}" style="color: #000000;">Lihat Podcast</a>
                        </li>
                        {% endif %}
                        {% if status == "Songwriter" or status == "Artist" or status == "Label" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'album_song_royalti:royalti_render' %}" style="color: #000000;">Lihat Royalti</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:logout' %}" style="color: #000000;">Logout</a>
                        </li>
                    </ul>
                    <a class="nav-link disabled" aria-disabled="true" style="color: #000000;">Welcome, {{ nama }}</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Lagu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                <table class="table table-bordered table-hover table-info">
                                    <thead class="table-info"> 
                                    </thead>
                                    <tbody id="testing">
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Episode</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_podcast" class="col-form-label">ID Podcast:</label>
                            <input type="text" class="form-control" id="id_podcast" name="id_podcast" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="judul_episode" class="col-form-label">Judul Episode:</label>
                            <input type="text" class="form-control" id="judul_episode" name="judul_episode"></input>
                        </div>
                        <div class="mb-3">
                            <label for="deskripsi_episode" class="col-form-label">Deskripsi:</label>
                            <input type="text" class="form-control" id="deskripsi_episode" name="deskripsi_episode"></input>
                        </div>
                        <div class="mb-3">
                            <label for="durasi_episode" class="col-form-label">Durasi:</label>
                            <input type="number" class="form-control" id="durasi_episode" name="durasi_episode">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add_episode" data-bs-dismiss="modal">Tambah Episode</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalTambahPodcast" tabindex="-1" aria-labelledby="exampleModalLabelTambahPodcast" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalTambahPodcast">Add New Podcast</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formTambahPodcast" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="judul_podcast" class="col-form-label">Judul Podcast:</label>
                            <input type="text" class="form-control" id="judul_podcast" name="judul_podcast">
                        </div>
                        <div class="mb-3">
                            <label for="genre_podcast" class="col-form-label">Genre:</label>
                            <select class="form-select" id="genre_podcast" name="genre_podcast">
                                <!-- Options will be populated by JavaScript -->
                            </select>                        
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_podcast_add" data-bs-dismiss="modal">Add Album</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Content</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="judul" class="col-form-label">Judul:</label>
                            <input type="text" class="form-control" id="judul" name="judul"></input>
                        </div>
                        <div class="mb-3">
                            <label for="tanggal_rilis" class="col-form-label">Tanggal Rilis: (YYYY-MM-DD)</label>
                            <input type="date" class="form-control" id="tanggal_rilis" name="tanggal_rilis"></input>
                        </div>
                        <div class="mb-3">
                            <label for="tahun" class="col-form-label">Tahun:</label>
                            <input type="number" class="form-control" id="tahun" name="tahun"></input>
                        </div>
                        <div class="mb-3">
                            <label for="durasi" class="col-form-label">Durasi:</label>
                            <input type="number" class="form-control" id="durasi" name="durasi"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_content_add" data-bs-dismiss="modal">Add Content</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container" style="margin-top: 20px;">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-primary" id="button-tambah-podcast" data-bs-toggle="modal" data-bs-target="#exampleModalTambahPodcast">Tambah Podcast</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-info">
                        <thead class="table-info"> 
                        </thead>
                        <tbody id="podcast_table">
                            <!-- Transaction data -->
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
    <h5 style="text-align: center;">Sesi terakhir login: {{ last_login }}</h5>

    <script>

        async function getAlbums() {
            return fetch("{% url 'album_song_royalti:r_album' %}").then((res) => res.json())
        }

        async function getSongs() {
            return fetch("{% url 'album_song_royalti:r_song' %}").then((res) => res.json())
        }

        async function getPodcasts() {
            return fetch("{% url 'album_song_royalti:r_podcast' %}").then((res) => res.json())
        }

        async function fetchLabels() {
            try {
                const response = await fetch("{% url 'album_song_royalti:fetch_labels' %}");
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch labels');
                }
            } catch (error) {
                console.error('Error fetching labels:', error);
            }
        }

        async function fetchGenres() {
            try {
                const response = await fetch("{% url 'album_song_royalti:fetch_genres' %}");
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch labels');
                }
            } catch (error) {
                console.error('Error fetching labels:', error);
            }
        }

        async function fetchArtists() {
            try {
                const response = await fetch("{% url 'album_song_royalti:fetch_artists' %}");
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch labels');
                }
            } catch (error) {
                console.error('Error fetching labels:', error);
            }
        }

        async function fetchSongwriters() {
            try {
                const response = await fetch("{% url 'album_song_royalti:fetch_songwriters' %}");
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch labels');
                }
            } catch (error) {
                console.error('Error fetching labels:', error);
            }
        }


        async function populateLabelDropdown() {
            const genres = await fetchGenres();
            const genreSelect = document.getElementById('genre_podcast');
            genres.forEach(genre => {
                const option = document.createElement('option');
                option.value = genre;
                option.textContent = genre;
                genreSelect.appendChild(option);
            });
        }

        async function populateSongDropdown() {
            const genres = await fetchGenres();
            const genreSelect = document.getElementById('genre');
            genres.forEach(genre => {
                const option = document.createElement('option');
                option.value = genre;
                option.textContent = genre;
                genreSelect.appendChild(option);
            });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            populateLabelDropdown();
        });

        document.addEventListener('click', function(e) {
            if (e.target && e.target.classList.contains('action-button')) {
                // Check if the clicked element has the class 'action-button'
                const itemIds = e.target.dataset.id; // Split the data-id attribute by comma
                
                const modal = document.getElementById('exampleModal2'); // Get the modal element
                const idAlbumInput = modal.querySelector('#id_podcast'); // Get the input field for id_album

                // Set the value of id_album and id_label input fields
                idAlbumInput.value = itemIds;
                populateSongDropdown();
            }
        });


        function getEpisode(id) {
            fetch(`/album_song_royalti/r-episode/${id}`, {
                method: 'GET',
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById("testing").innerHTML = "";
                    return response.json();
                } else {
                    console.error('Failed.');
                }
            })
            .then(data => {
                let htmlString = `
                    <tr>
                        <th>Judul</th>
                        <th>Deskripsi</th>
                        <th>Durasi</th>
                        <th>Tanggal</th>
                        <th>Action</th>
                    </tr>`;

                data.forEach((item) => {
                    htmlString += `
                        <tr>
                            <td>${item.judul_episode}</td>
                            <td>${item.deskripsi_episode}</td>
                            <td>${item.durasi_episode}</td>
                            <td>${item.tanggal_rilis_episode}</td>
                            <td><button class="action-button hapus-episode" data-id="${item.id_episode}">Hapus</button></td>
                        </tr>`;
                });

                // Update the table with the new content
                document.getElementById("testing").innerHTML = htmlString;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        }

        function addPodcast(){
            var judulAlbum = document.getElementById("judul_podcast").value;
            var genreAlbum = document.getElementById("genre_podcast").value;        

            var formData = new FormData();
            formData.append("judul_podcast", judulAlbum);
            formData.append("genre_podcast", genreAlbum);
            // Send a POST request with the FormData to your backend

            fetch("{% url 'album_song_royalti:add_podcast_ajax' %}", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    displayPodcast();
                    document.getElementById("form").reset(); // Reset the form after successful addition
                } else {
                    throw new Error("Failed to add podcast");
                }
            })
            .catch(error => console.error("Error:", error));

        }

        function addEpisode() {
            // Retrieve values of input fields
            var id_podcast = document.getElementById("id_podcast").value;
            var judul_episode = document.getElementById("judul_episode").value;
            var deskripsi_episode = document.getElementById("deskripsi_episode").value;
            var durasi_episode = document.getElementById("durasi_episode").value;

            // Create a FormData object and append the input values
            var formData = new FormData();
            formData.append("id_podcast", id_podcast);
            formData.append("judul_episode", judul_episode);
            formData.append("deskripsi_episode", deskripsi_episode);
            formData.append("durasi_episode", durasi_episode);

            // Send a POST request with the FormData to your backend
            fetch("{% url 'album_song_royalti:add_episode_ajax' %}", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    console.log("Song added successfully");
                    displayPodcast();
                    document.getElementById("form").reset(); // Reset the form after successful addition
                } else {
                    throw new Error("Failed to add song");
                }
            })
            .catch(error => console.error("Error:", error));
        }

        function addContent() {
            // Retrieve values of input fields
            var judul = document.getElementById("judul").value;
            var tanggal_rilis = document.getElementById("tanggal_rilis").value;
            var tahun = document.getElementById("tahun").value;
            var durasi = document.getElementById("durasi").value;

            // Create a FormData object and append the input values
            var formData = new FormData();
            formData.append("judul", judul);
            formData.append("tanggal_rilis", tanggal_rilis);
            formData.append("tahun", tahun);
            formData.append("durasi", durasi);

            // Send a POST request with the FormData to your backend
            fetch("{% url 'album_song_royalti:add_content_ajax' %}", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    console.log("Content added successfully");
                    document.getElementById("form").reset(); // Reset the form after successful addition
                } else {
                    throw new Error("Failed to add content");
                }
            })
            .catch(error => console.error("Error:", error));
        }



        async function displayPodcast() {
            document.getElementById("podcast_table").innerHTML = "";
            const podcasts = await getPodcasts();
            let htmlString = `<tr>
                                <th colspan="6" style="text-align:center;">LIST PODCAST</th>
                            </tr>
                            <tr>
                                <th>Judul</th>
                                <th>Jumlah Episode</th>
                                <th>Total Durasi</th>
                                <th>Action</th>
                            </tr>`;

            podcasts.forEach((item) => {
                htmlString += `<tr>
                                <td>${item.judul}</td>
                                <td>${item.jumlah_episode}</td>
                                <td>${item.total_durasi}</td>
                                <td>
                                    <button class="action-button lihat-episode-modal" data-id="${item.id_konten}" data-bs-toggle="modal" data-bs-target="#exampleModal">Lihat Episode</button>
                                    <button class="action-button" data-bs-toggle="modal" data-id="${item.id_konten}" data-bs-target="#exampleModal2">Tambah Episode</button>
                                    <button class="action-button hapus-podcast" data-bs-toggle="modal" data-id="${item.id_konten}">Hapus Podcast</button>
                                </td>
                            </tr>`;
            });

            document.getElementById("podcast_table").innerHTML = htmlString;

        }

        function deletePodcast(id) {
            fetch(`/album_song_royalti/d-podcast/${id}`, {
                method: 'GET',
            })
            .then(response => {
                if (response.ok) {
                    displayPodcast();
                } else {
                    console.error('Failed.');
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        }

        displayPodcast()
        document.addEventListener('click', function(e) {
            if (e.target && e.target.classList.contains('lihat-episode-modal')) {
                const itemId = e.target.dataset.id;
                getEpisode(itemId); // Pass the itemId to the getEpisode function
            }
        });

        document.addEventListener('click', function(e) {
            if (e.target && e.target.classList.contains('hapus-podcast')) {
                const itemId = e.target.dataset.id;
                deletePodcast(itemId); // Pass the itemId to the getEpisode function
            }
        });

        document.addEventListener('click', function(e) {
            if (e.target && e.target.classList.contains('hapus-episode')) {
                const itemId = e.target.dataset.id;
                deleteEpisode(itemId); // Pass the itemId to the getEpisode function
            }
        });

        function deleteEpisode(id) {
            fetch(`/album_song_royalti/d-episode/${id}`, {
                method: 'GET',
            })
            .then(response => {
                if (response.ok) {
                    displayPodcast();
                    getEpisode(id);
                } else {
                    console.error('Failed.');
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        }

        const buttonAlbum = document.getElementById('button-album');
        document.getElementById("button_add_episode").onclick = addEpisode
        document.getElementById("button_content_add").onclick = addContent
        document.getElementById("button_podcast_add").onclick = addPodcast

        buttonAlbum.addEventListener('click', displayPodcast);

    </script>
{% endblock content %}