{% extends 'base.html' %} {% block content %}

<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  </style>

<div class="container" style="max-width: 95%; margin-bottom: 20px">
  
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Lagu</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col">
            <div
              class="table-responsive"
              style="max-height: 400px; overflow-y: auto"
            >
              <table class="table table-bordered table-hover table-info">
                <thead class="table-info"></thead>
                <tbody id="testing"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 20px">
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary" id="button-album">Lihat Album</button>
      <button class="btn btn-primary" id="button-song">Lihat Lagu</button>
      <button class="btn btn-primary" id="button-royalti">Lihat Royalti</button>
    </div>
  </div>

  <div style="background-color: #d6f3fb; padding: 5px">
    <h5 style="text-align: center">SONG DETAIL</h5>
    <p style="text-align: center">Judul: The Wheels on the Bus</p>
    <p style="text-align: center">Artist: CoComelon</p>
    
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <label for="playlist">Playlist: </label>
        <select id="playlists" name="cars">
          <option value="">Playlist 1</option>
          <option value="">Playlist 2</option>
          <option value="">Playlist 3</option>
        </select>
    </div>

    <div style="display: flex; flex-direction: column; margin-left: 60px; margin-right: 60px;">
        <button id="myBtn" style="text-align: center;">TAMBAH</button>
        <button style="text-align: center;">KEMBALI</button>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h1>Berhasil!</h1>
    </div>
    <div class="modal-body">
      <p>Berhasil menambahkan Lagu dengan judul The Wheels on the Bus ke Playlist1</p>
      <div style="display: flex; flex-direction: column;">
        <button>Playlist1</button>
        <button>Kembali</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>
{% endblock content %}
