{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #d6f3fb;
        margin: 0;
        padding: 20px;
        color: #333;
    }

    .container {
        background: #F0FFFF;
        /* Light cyan background */
        padding: 20px;
        border-radius: 5px;
        /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Subtle box shadow */
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: left;
        background-color: white;
    }

    .table-header {
        background-color: #15a3c7;
        color: white;
    }

    td {
        background-color: #fff;
    }

    a {
        color: white;
        background-color: #15a3c7;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    a:hover {
        background-color: #0087a8;
    }
</style>

<div class="container" style="max-width: 95%; margin-bottom: 20px;">
    <nav class="navbar navbar-expand-lg" style="background-color: #d6f3fb; border-radius: 20px;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #ffffff;"><strong>Marmut</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}" style="color: #000000;">Logout</a>
                    </li>
                </ul>
                <a class="nav-link disabled" aria-disabled="true" style="color: #000000; font-weight: bold;">Welcome, {{ user }}</a>
            </div>
        </div>
    </nav>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <a href="{% url 'podcast:dashboard' %}" class="btn btn-primary" id="button-album" style="background-color: #15a3c7; color:white">List Podcast</a>
        <a href="{% url 'podcast:c_podcast' %}" class="btn btn-primary" id="button-song" style="background-color: #15a3c7; color:white">Create Podcast</a>
    </div>
</div>

<div class="container">
    <h2 style="text-align: center; font-weight: bold;">CREATE PODCAST</h2>
    <table>
        <tr>
            <th style="background-color: #15a3c7; color: white;">Judul</th>
            <td><input id="judul" name="judul" value=""></td>
        </tr>
        <tr>
            <th style="background-color: #15a3c7; color: white;">Durasi</th>
            <td><input id="durasi" name="durasi" value=""></td>
            <!-- <td><span id="package-price"></span></td> -->
        </tr>
        <tr>
            <th style="background-color: #15a3c7; color: white;">Genre</th>
            <td>

                <form> <!-- Change action to history.html and method to get -->
                    <select id="payment-method" name="payment-method">
                        <option value="horror">Horror</option>
                        <option value="comedy">Comedy</option>
                        <option value="romance">Romance</option>
                    </select>
                    <br>
                    <div style="margin-top: 10px;"></div>
                    <button type="submit" class="btn btn-primary" style="background-color: #15a3c7; color:white">Submit</button>
                </form>

            </td>
        </tr>
    </table>
</div>
{% endblock content %}
