{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #d6f3fb;
        margin: 0;
        padding: 20px;
        color: #333;
    }

    .container {
        background: #F0FFFF;
        /* Light cyan background */
        padding: 20px;
        border-radius: 5px;
        /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Subtle box shadow */
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: left;
        background-color: white;
    }

    .table-header {
        background-color: #15a3c7;
        color: white;
    }

    td {
        background-color: #fff;
    }

    a {
        color: white;
        background-color: #15a3c7;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    a:hover {
        background-color: #0087a8;
    }
</style>

<div class="container" style="max-width: 95%; margin-bottom: 20px;">
    <nav class="navbar navbar-expand-lg" style="background-color: #d6f3fb; border-radius: 20px;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #ffffff;"><strong>Marmut</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}" style="color: #000000;">Logout</a>
                    </li>
                </ul>
                <a class="nav-link disabled" aria-disabled="true" style="color: #000000; font-weight: bold;">Welcome, {{ user }}</a>
            </div>
        </div>
    </nav>
</div>

<div class="container" style="margin-top: 20px;">
    <h2 style="font-weight: bold;">PODCAST DETAIL</h2>
    <p><strong>Judul:</strong> Podcast 1</p>
        <p><strong>Genre(s):</strong></p>
        <p>- Genre 1</p>
        <p>- Genre 2</p>
        <p><strong>Podcaster:</strong> Artist1</p>
        <p><strong>Total Durasi:</strong> 8 jam 20 menit</p>
        <p><strong>Tanggal Rilis:</strong> 18/03/24</p>
        <p><strong>Tahun:</strong> 2024</p>
    <div class="row justify-content-center mb-3">
    <div class="col-auto">
         <a href="{% url 'main:show_main' %}" class="btn btn-primary" id="button-song" style="background-color: #15a3c7; color:white">Kembali</a>
    </div>
    </div>
    <!-- <h2 style="font-weight: bold;">DAFTAR EPISODE PADA PODCAST1</h2> -->
    <div class="row mb-3">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-info">
                    <thead class="table-info"> 
                    </thead>
                    <tbody id="album_table">
                        <!-- Transaction data -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    async function getEpisodes() {
    return fetch("{% url 'podcast:r_play_podcast' %}").then((res) => res.json())
}

async function displayEpisode() {
    document.getElementById("album_table").innerHTML = "";
    const episodes = await getEpisodes();
    let htmlString = `<table class="table table-bordered table-hover table-info">
        <tr>
            <th colspan="6" style="text-align:center;">DAFTAR EPISODE</th>
        </tr>
        <thead>
            <tr class="table-header">
                <th style="background-color: #15a3c7; color: white;">Judul Episode</th>
                <th style="background-color: #15a3c7; color: white;">Deskripsi</th>
                <th style="background-color: #15a3c7; color: white;">Durasi</th>
                <th style="background-color: #15a3c7; color: white;">Tanggal</th>
            </tr>
        </thead>
        <tbody>`;

    episodes.forEach((item) => {
        let durasiFormatted;
        if (item.durasi >= 60) {
            const jam = Math.floor(item.durasi / 60);
            const menit = item.durasi % 60;
            durasiFormatted = `${jam} jam ${menit} menit`;
        } else {
            durasiFormatted = `${item.durasi} menit`;
        }

        htmlString += `<tr>
            <td>${item.judul}</td>
            <td>${item.deskripsi}</td>
            <td>${durasiFormatted}</td>
            <td>${item.tanggal_rilis}</td>
        </tr>`;
    });

    htmlString += `</tbody></table>`;

    document.getElementById("album_table").innerHTML = htmlString;
}

    displayEpisode()
</script>
<!-- <h5 style="text-align: center;">Sesi terakhir login: {{ last_login }}</h5> -->

<!-- <script>
async function getPodcasts() {
    return fetch("{% url 'podcast:r_podcast' %}").then((res) => res.json())
}

async function getCharts() {
    return fetch("{% url 'podcast:r_chart' %}").then((res) => res.json())
}

async function displayPodcast() {
        document.getElementById("podcast_table").innerHTML = ""
        const podcasts = await getPodcasts()
        let htmlString = ``
        htmlString += `\n<tr>
                            <th>ID</th>
                            <th>Email Podcaster</th>
                            <th>Action</th>
                        </tr>`;
        podcasts.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.id_konten}</td>
            <td>${item.email_podcaster}</td>
            <td>
                <button class="action-button lihat-lagu-modal" data-id="${item.id_konten}" data-bs-toggle="modal" data-bs-target="#exampleModal">Lihat Podcast</button>
                <button class="action-button">Edit Podcast</button>
                <button class="action-button">Hapus Podcast</button>
            </td>
        </tr>`;
        })
        document.getElementById("podcast_table").innerHTML = htmlString
    }

    async function displayChart() {
        document.getElementById("podcast_table").innerHTML = ""
        const charts = await getCharts()
        let htmlString = ``
        htmlString += `\n<tr>
                            <th>Tipe</th>
                            <th>ID</th>
                            <th>Action</th>
                        </tr>`;
        charts.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.tipe}</td>
            <td>${item.id_playlist}</td>
            <td>
                <button class="action-button lihat-lagu-modal" data-id="${item.id_playlist}" data-bs-toggle="modal" data-bs-target="#exampleModal">Lihat Podcast</button>
                <button class="action-button">Edit Chart</button>
            </td>
        </tr>`;
        })
        document.getElementById("podcast_table").innerHTML = htmlString
    }

    displayPodcast()
    // document.addEventListener('click', function(e) {
    //     if (e.target && e.target.classList.contains('lihat-lagu-modal')) {
    //         const itemId = e.target.dataset.id;
    //         console.log("Item ID:", itemId);
    //         getSongs2(itemId); // Pass the itemId to the getSongs2 function
    //     }
    // });

    const buttonPodcast = document.getElementById('button-podcast');
    const buttonChart = document.getElementById('button-chart');

    buttonPodcast.addEventListener('click', displayPodcast);
    buttonChart.addEventListener('click', displayChart);

</script> -->
{% endblock content %}
