{% extends 'base.html' %}

{% block content %}
    <h1>Marmut Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <a href="{% url 'album_song_royalti:dashboard' %}">
        <button>
            Kelola Album
        </button>
    </a>

    <a href="{% url 'podcast:dashboard' %}">
        <button>
            Kelola Podcast
        </button>
    </a>

    <a href="{% url 'podcast:r_play_podcast' %}">
        <button>
            Play Podcast
        </button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}