{% extends 'base.html' %}

{% block content %}
    <h1>Marmut Page</h1>

    <h5>ID:</h5>
    <p>{{ id }}</p>

    <h5>Name:</h5>
    <p>{{ name }}</p>

    <h5>Email:</h5>
    <p>{{ email }}</p>

    <h5>Password:</h5>
    <p>{{ password }}</p>

    <h5>Tanggal Lahir:</h5>
    <p>{{ tanggal_lahir }}</p>

    <h5>Tempat Lahir:</h5>
    <p>{{ tempat_lahir }}</p>

    <h5>Gender:</h5>
    <p>{{ gender }}</p>

    <h5>Is Verified:</h5>
    <p>{{ is_verified }}</p>

    <h5>Kota Asal:</h5>
    <p>{{ kota_asal }}</p>

    <h5>Status:</h5>
    <p>{{ status }}</p>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <a href="{% url 'album_song_royalti:dashboard' %}">
        <button>
            Kelola Album
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
